
<html>
<head>

        <title>djangosoft</title>

</head>
<style>
    nav{float: right;}
    a{margin-right: 50px}
    h1{text-align: center}
    h2{text-align: center}
    footer{text-align: center}
    hr{margin-top: -30px}
</style>
<body>
<nav>
    <a href="/home/">HOME</a>
    <a href="/contact/">CONTACT</a>
    <a href="/services/">SERVICES</a>
    <a href="/gallery/">GALLERY</a>
</nav><BR>
<h1>welcome to djangosoft</h1>
<hr>
{% block content %}

{% endblock %}
<footer>thank you</footer>
</body>
</html>